.bg-fire{background: red;}
.bg-blob{background: purple;}
.bg-fly{background: lightblue;}
.bg-blaze{background: coral;}
.bg-solar-power{background: yellow;}
.bg-torrent{background: sandybrown;}
.bg-rain-dish{background: lightskyblue;}
.bg-run-away{background: gray;}
.bg-guts{background: silver;}
.bg-hustle{background: goldenrod;}